<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemon95.ymtv">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- WindowManger 权限(浮动窗口) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="dc31b90924b50d3ce576c3bbb8bd7d78" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5786f45ee0f55ae7b3002254" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ymtv" />

        <!--
           <service
            android:name=".service.MyPushIntentService"
            android:process=":push" />
        -->
        <!--
            <service
            android:name=".service.MyPushIntentService"/>
        -->

        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.MovieDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.VideoListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.PlayActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.SerialActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.FavoritesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.MyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.HistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.UserActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.NeedMovieActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.PayService"
            android:process=":pay"></service>
        <service
            android:name=".service.LoginService"
            android:process=":login"></service>
    </application>

</manifest>
